/**{
    border: 1px solid #e67e22 !important;
}*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    background-color: #fff;
}

/********* HEADING STYLE *********/
.logo{
    width: 100px;
    height: 100px;
}

.row{
    width: 85%;
    margin: 20px auto;
}

header{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/hero.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

nav ul a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    margin-right: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

nav a:hover{
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.5s, color 0.5s;
}

.hero-text{
    margin-top: 150px;
}

.hero-text h1{
    text-transform: uppercase;
    font-size: 250%;
    word-spacing: 4px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.btn{
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #e67e22;
    border-radius: 200px;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 5px;
}

.btn-full{
    background-color: #e67e22;
    color: #fff;
}

.btn-full:hover{
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    transition: background-color 0.5s, color 0.5s;
}

.btn-ghost{
    color: #e67e22;
    border: 1px solid #e67e22;
    background-color: transparent;
}

.btn-ghost:hover{
    background-color: #e67e22;
    color: #fff;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

/****  SECTION FEATURES  ****/
.section-features{
    margin-top: 60px;
}
.header-section{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
}
.header-section::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.para-section{
    color: #555;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
}

.icon-features{
    color: #555;
    margin-top: 70px;
}
.icon-content h3{
    font-size: 100%;
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.icon-content{
    padding: 0 20px;
}

.icon-content p{
    font-size: 85%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/* FEATURE MEALS */
.section-meals{
    margin-top: 70px;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

/* FEATURE STEPS */
.app-screen {
    width: 40%;
}

.section-steps {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f4f4f4;
    color: #555
}

.steps-box:nth-child(1){
    text-align: right;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 40px;
    margin-left: 30px;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    margin-right: 25px;
    padding: 5px;

}
.works-step p{
    flex: 1;
    line-height: 135%;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.show-steps{
    padding-top: 30px;
}

/* FEATURE CITIES */
.box{
    width: 25%;
    margin: 15px;
}
.box img{
    width: 100%;
    height: auto;
}
.section-cities{
    margin-top: 50px;
    color: #555;
}
.section-cities h3{
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 300;
    margin: 15px 0;
}
.city-feature {
    margin-bottom: 5px;
}
.city-feature a{
    color: #e67e22;
    margin: 0;
    padding: 0;
}
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* FEATURE TESTIMONIALS */
.testimonials div{
    padding: 0 10px
}

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/back-customers.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/back-customers.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 50px
}
.section-testimonials h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* SECTION PLANS*/
.section-plans{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
    background-color: #f4f4f4;
}
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}
.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price-meal {
    font-size: 80%;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}
.plan{
    padding-top: 15px;
}

/* CONTACT FORM */
.section-form{
    padding-bottom: 60px;
}

.contact-form{
    width: 60%;
    margin: 0 auto;
}

.input-row:first-child{
    width: 35%;
    color: #555;
    margin: auto 0;
}
.input-row:last-child{
    width: 65%;
    color: #555;
    margin: 0;
}
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font: inherit;
}
input {
    line-height: normal;
}
input[type=submit]{
    font: inherit;
    cursor: pointer;
}

/* SECTION FOOTER */
footer {
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 80%;
}
footer ul{
    display: flex;
    justify-content: space-between;
    font: inherit;
    list-style: none;
}
footer ul li{
    margin-right: 20px;
    font-size: inherit;
}
footer ul li a{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
footer ul li a:hover{
    color: #ccc;
    transition: color 0.3s;
}

footer ul li:nth-child(5){
    margin-right: auto;
}

footer div{
    display: flex;
    justify-content: center;
    color: #888;
    padding-top: 10px;
}
